/*
    Document   : vindinium.css
    Created on : 2015-04-28 04:49 PM
    Author     : Escharo
    Description:
    Purpose of the stylesheet follows.
    To change this template use Tools | Templates.
*/

root {
    display: block;
}

#header{
    font-size:5em;
    color:green;
    text-align:center;
}